---
---

@import "{{ site.theme }}";

header {
  display: none;
}

:root {
  --shadow-color: #000;
}

.modal {
  box-shadow: 0 0 8px var(--shadow-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: #fff;
  }
  html {
    filter: hue-rotate(180deg) invert(1);
  }
}
